/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Oo]bj/
/[Uu]serSettings/
/MemoryCaptures/
sysinfo.txt

.vs/
.vscode/
.idea/
*.sln
*.csproj
*.pidb
*.user
*.userprefs
*.unityproj

/[Aa]sset[Ss]tore/
*.apk
*.aab
*.unitypackage
*.tmp
*.booproj
*.svd
*.bak
*.orig

ProjectSettings/EditorSettings.asset
ProjectSettings/SceneTemplateSettings.json
ProjectSettings/TimelineSettings.asset
ProjectSettings/MemorySettings.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/QualitySettings.asset

/Packages/packages-lock.json
/Packages/manifest-temp.json

/CrashReports/
*.stackdump
*.log

/.DS_Store
/Thumbs.db
/*.mdb
*.db
*.pdb

/ServerData/
/BuildCache/
/StreamingAssets/aa.meta
/StreamingAssets/aa/

/InputSystem/Generated/

/ExportedObj/
/obj/
/Library/ScriptAssemblies/
/Library/PackageCache/
/Library/ShaderCache/

/TestResults/